@mixin mobile-only {
  @media (max-width: 599px) { @content; }
}
@mixin tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin radial-pattern {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@mixin margin-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin laptop-img-pattern-placement {
  width: 7rem;
  @include mobile-only {
    &.top-left {
      top: -2rem;
      left: 1rem;
    }
    &.bottom-right {
      bottom: -2rem;
      right: 1.5rem;
    }
  }
  @include tablet-landscape-up {
    width: 12rem;
    &.top-left {
      top: -2rem;
      left: -4rem;
    }
    &.bottom-right {
      bottom: -2rem;
      right: -4rem;
    }
  }
  height: auto;
  position: absolute;
  
}

@mixin grid-justify-content {
  display: grid;
  justify-content: space-between;
}

@mixin flex-justify-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}


@mixin opacity-transition {
  transition: 250ms opacity ease-in;
}

@mixin what-we-do-primary-heading-main {
  &--main {
    font-size: $font-size-regular;
    @include tablet-landscape-up {
      font-size: $desktop-plus-font-size-regular
    }
    @include desktop-up {
      font-size: $desktop-plus-font-size-regular
    }
    @include big-desktop-up {
      font-size: $big-desktop-plus-font-size-regular
    }
  }
}

@mixin what-we-do-primary-heading-sub {
  &--sub {
    font-size: $font-size-medium;
    @include tablet-landscape-up {
      font-size: $desktop-plus-font-size-medium
    }
    @include big-desktop-up {
      font-size: $big-desktop-plus-font-size-small;
    }
  }
}

@mixin biggest-main-primary-heading {
  &--main {
    font-size: $font-size-regular;
    @include tablet-landscape-up {
      font-size: $desktop-plus-font-size-regular
    }
    @include desktop-up {
      font-size: $desktop-plus-font-size-large
    }
    @include big-desktop-up {
      font-size: $big-desktop-plus-font-size-large
    }
  }
}