@mixin mobile-only {
  @media (max-width: 599px) { @content; }
}
@mixin tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin radial-pattern {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: -1;
}

@mixin grid-justify-content {
  display: grid;
  justify-content: space-between;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}