$primary-black: #000;

$primary-white: #fff;

$box-shadow-mobile-navbar: 0px 4px 7px rgba(146, 146, 146, 0.05);
$box-shadow-sidebar: 0px 5px 10px rgba(0, 0, 0, .1);

$color-primary: #22C55E;
$color-primary-light: #DCFCE7;

$bg-dark-1: #202732;
$bg-grey: #F7F8F9;

$light-grey-1: #ddd;
$light-grey-2: #BBC3CF;
$light-grey-3: #8896AB;
$dark-grey-1: #667085;
$dark-grey-2: #556987;
$dark-grey-3: #333F51;

$primary-black: #2A3342;

$font-size-regular: 1.5rem;
$font-size-small: 1rem;

$border-radius-sm: 8rem;

$mobile-section-padding: 1.5rem 2rem;
