$primary-white: #fff;

$box-shadow-mobile-navbar: 0px 4px 7px rgba(146, 146, 146, 0.05);
$box-shadow-card: 0px 4px 7px rgba(146, 146, 146, 0.35);
$box-shadow-sidebar: 0px 5px 10px rgba(0, 0, 0, .1);

$color-primary: #22C55E;
$color-primary-light: #DCFCE7;

$bg-dark-1: #202732;
$bg-grey: #F7F8F9;

$light-grey-1: #ddd;
$light-grey-2: #BBC3CF;
$light-grey-3: #8896AB;
$dark-grey-1: #667085;
$dark-grey-2: #556987;
$dark-grey-3: #333F51;

$primary-black: #2A3342;

$border-radius-sm: 8px;

$mobile-section-padding: 1.5rem 2rem;
$mobile-left-right-padding: 2rem;
$mobile-spacing-padding: 5rem;
$mobile-top-bottom-padding: 1.5rem;
$mobile-footer-padding: 0 3rem;


$desktop-plus-padding: 5rem 15rem;
$desktop-plus-left-right-padding: 15rem;
$desktop-plus-top-bottom-padding: 10rem;

$landscape-plus-padding: 5rem 10rem;
$landscape-top-bottom-padding: 10rem;
$landscape-left-right-padding: 10rem;

$font-size-regular: 1.6rem;
$font-size-medium: 1.4rem;
$font-size-small: 1.2rem;

$button-font-size-regular: 1.8rem;
$button-font-size-medium: 1.6rem;

$desktop-plus-font-size-heading: 4rem;
$desktop-plus-font-size-large: 3.2rem;
$desktop-plus-font-size-regular: 2.4rem;
$desktop-plus-font-size-medium: 1.6rem;
$desktop-plus-font-size-small: 1.4rem;

$staying-connected-landscape-plus-bottom-padding: 35rem;

$big-desktop-plus-font-size-heading: 6rem;
$big-desktop-plus-font-size-large: 4.8rem;
$big-desktop-plus-font-size-regular: 3.6rem;
$big-desktop-plus-font-size-medium: 2.4rem;
$big-desktop-plus-font-size-small: 2rem;
$big-desktop-plus-font-size-xtra-small: 1.6rem;


$mobile-width-percentage: 85%;
$desktop-plus-width-percentage: 75%;
$big-desktop-plus-width-percentage: 47%;

